body{
	background:
  linear-gradient(to top left,#7fff94 50%, #7FFFD4 100%) top/100% 100%;
 background-repeat:no-repeat;
	margin: 0;
	padding: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 576px) {
     .container {
    background: #fafafa;
  }
}
@media (min-width: 768px) {
  .container{
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

